@CHARSET "UTF-8";

table.alternate {
	width: 320px;
	border: 5px solid #ccc;
	border-color: #8ba2c1 #5890bf #4f93ca #768fa5;
}

form.alternate{
	width: 320px;
	position: absolute;
	left:35px;
}

table.message {
	width: 650px;
}

td.odd {
	background-color: #BFEFFF;
}

tr.highlight:hover {
	background: #FCF;
}

th {
	text-align: center;
}

a {
	outline: none;
	text-decoration: none;
}

a:active{
	outline: none;
}

td {
	text-align: center;
	max-width: 100px;
	text-overflow: ellipsis;
	overflow: hidden;
}

h2.tableheader {
	position: relative;
	left: 130px;
}